[submodule "modules/korichat-server"]
	path = modules/korichat-server
	url = git@github.com:Adrianvdh/korichat-module.git
[submodule "modules/korichat-client"]
	path = modules/korichat-client
	url = git@github.com:Adrianvdh/korichat-client.git
[submodule "modules/korichat-common"]
	path = modules/korichat-common
	url = git@github.com:Adrianvdh/korichat-common.git
